{% extends "base.html" %}
{% load widget_tweaks %}
{% block form %}

<form action="." method="post" class="form">
    {% csrf_token %}

    <div class="form__wrapper">
        <h2 class="mb-5">
            Lorem ipsum dolor sit
        </h2>

        <div class="grid grid-columns-1 lg:grid-columns-2 col-gap-6 row-gap-3">
            <div class="form__group lg:col-span-2">
                <label for="{{ form.text_field.id_for_label }}" class="form__label">
                    Lorem ipsum
                </label>
                {% render_field form.text_field class+="form__control" placeholder="test" %}
            </div>

            <div class="form__group">
                <label for="{{ form.date_field.id_for_label }}" class="form__label">
                    Lorem ipsum
                </label>
                {% render_field form.date_field type="date" class+="form__control" %}
            </div>

            <div class="form__group">
                <label for="{{ form.time_field.id_for_label }}" class="form__label">
                    Lorem ipsum
                </label>
                {% render_field form.time_field type="time" class+="form__control" %}
            </div>

            <div class="form__group lg:col-span-2">
                <label for="{{ form.textarea_field.id_for_label }}" class="form__label">
                    Lorem ipsum
                </label>
                {% render_field form.textarea_field class+="form__control" %}
            </div>

            <div class="form__group--inline lg:col-span-2">
                {% render_field form.radio_field class+="form__control" %}
                <label for="{{ form.radio_field.id_for_label }}" class="form__label">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor, aspernatur delectus commodi minus veniam ipsum!
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn--primary mt-4">Next</button>
    </div>
</form>
{% endblock %}